* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: black;
  color: white;

  font-family: sans-serif;

  min-height: 100vh;

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
}

.overlay {

  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.5);

  z-index: 0;
}

.container {

  width: 100%;
  max-width: 430px;

  padding: 20px;

  position: relative;
  z-index: 1;
}

#photo-input {

  width: 100%;

  margin-bottom: 20px;

  color: white;
}

.input-area {

  display: flex;

  margin-bottom: 20px;
}

#task-input {

  flex: 1;

  padding: 18px;

  font-size: 18px;

  border: 1px solid #333;

  background: rgba(0,0,0,0.7);

  color: white;
}

#add-button {

  padding: 18px;

  border: none;

  background: white;
}

#todo-list {

  margin-bottom: 30px;
}

.task {

  list-style: none;

  background: rgba(0,0,0,0.75);

  padding: 22px;

  border-radius: 18px;

  margin-bottom: 15px;

  font-size: 22px;

  display: flex;
  align-items: center;

  gap: 15px;
}

.task input[type="checkbox"] {

  width: 25px;
  height: 25px;
}

h2 {

  margin-bottom: 15px;

  font-size: 20px;
}

#gallery {

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.image-item {

  background: rgba(0,0,0,0.75);

  padding: 10px;

  border-radius: 15px;
}

.image-item img {

  width: 100%;

  border-radius: 10px;
}

.delete-image {

  width: 100%;

  margin-top: 10px;

  padding: 15px;

  border: none;

  background: #222;

  color: white;

  font-size: 16px;

  border-radius: 10px;
}